@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.ali p{
    text-align: center;
    color: #F1D3B9;
     background-color: #B45F4D;
   
    height: 47px;
   
   
    

}
#img2{
    width: 1540px;
}
.qwer{
    background-color: #A9AE8D;
    color: #F6F4EC;
    height: 304px;
    padding: 0px 10px   ;
    margin: 0px 10px        ;
}
.plpl{
    background-color: #A9AE8D;
}
.poi{
    background-color: #A9AE8D;
}
.asdf{
    background-color: #A9AE8D;
    text-align: center;
}


.bottle{
color: #B45F4D;
font-size: 23px;
text-align: center;
background-color: #F1D3B9;

}
.card

.card1 h3, p{
text-align: left;
}

.card{
    text-align: left;
    display: inline-block;
}

.cards{
    text-align: center;
    margin: 30px 100px;
    padding: 0px 30px;
}
.qarta{ 
    background-color:#F1D3B9;
    text-align: center;
   
}





























































































