@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.title{
    background-color:  #B45F4D;
    height: 40px;
    margin: 1px ;
    padding: 10px 0px;
}



    
.jonson p {
    text-align: center;
    color: aliceblue;
    background-color: dimgrey ;
    margin: 0%;
    height: 120px;
    padding: 3px 0px;
}
button{
    width: 100px;
    height: 50px;
    text-align: center;
    color: #F1D3B9;
    background-color: #B45F4D;
}

  .pteg{
    font-size: 10px;
    margin: 0;
    padding: 70px 0px;
  } 
   .pteg1{
    font-size: 30px;
    margin: 70px;
   }
    


#img2{
    width: 1540px;
}






.bottle{
color: #B45F4D;
font-size: 23px;
text-align: center;
background-color: #F1D3B9;
padding: 20px;


}
.card{
    margin: 0px 20px;
}

.card1 h3, p{
text-align: left;
}

.card{
    text-align: left;
    display: inline-block;
}

.cards{
    text-align: center;
    margin: 30px 100px;
    padding: 0px 30px;
}



.img3{
    text-align: center;
    margin: 20px ;
}

.rasm{
    text-align: center;
    background-color: burlywood;
    
}
.qarta{ 
    background-color:#F1D3B9;
    text-align: center;
    display: inline-block;
    margin: 50px 70px;
   
}

.core p{
    font-size: 25px;
    color: rgb(42, 42, 85);
    text-align: center;
}





























































































